<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nguyenthaison.Properties.Settings.quanlybenhnhanConnectionString"
            connectionString="Data Source=DESKTOP-P51T87R\SQLEXPRESS;Initial Catalog=quanlybenhnhan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>